.form-gap {
    padding-top: 70px;
}
a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Sets the text color to inherit from the parent */
    /* Additional styling as per your requirements */
  }