<app-admin-panel></app-admin-panel>
  <h2 class="text-success">Products list</h2>
  <table class="table table-bordered table-striped">
      <thead class="thead-dark">
          <tr>
              <th>Product Id:</th>
              <th>SubCategory Id:</th>
              <th>Product Name:</th>
              <th>Product Description:</th>
              <th>Size:</th>
              <th>unitCost:</th>
              <th>Image data:</th>
              <th>Action</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let product of products">
              <td>{{product.productId}}</td>
              <td>{{product.subCategoryId}}</td>
              <td>{{product.productName}}</td>
              <td>{{product.productDescription}}</td>
              <td>{{product.size}}</td>
              <td>{{product.unitCost}}</td>
              <td>{{product.imageData}}</td>
              <td><button class="btn btn-primary" (click)="editProduct(product.productId)" type="button">Edit</button></td>
              <td><button class="btn btn-danger" (click)="deleteProductFunc(product.productId)" type="button">Delete</button></td>
          </tr>
      </tbody>
  </table>

  <div class="mt-4">
  <button class="btn btn-success" type="button"><a routerLink="/addProduct">Add new Product</a></button>
</div>
  